.scratchpad-wrap {
    position: relative;
}

.scratchpad-wrap .hide-text {
    display: none;
}

.scratchpad-wrap.no-output .scratchpad-canvas-wrap {
    display: none;
}

.scratchpad-wrap.no-output .scratchpad-editor-wrap {
    margin-right: 0;
}

.scratchpad-wrap .scratchpad-canvas-wrap {
    float: right;
}

.scratchpad-wrap .scratchpad-canvas-wrap  #output {
    overflow: hidden;
    min-width: 402px;
    min-height: 402px;
}

.scratchpad-wrap .scratchpad-editor-wrap {
    margin-right: 412px;
    position: relative;
}

.scratchpad-wrap .scratchpad-editor-wrap .scratchpad-editor-tabs,
.scratchpad-wrap .scratchpad-editor-wrap .scratchpad-toolbar {
    margin-right: @row-spacing;
    position: relative;
}

.scratchpad-wrap .scratchpad-editor-wrap .scratchpad-editor-tabs-links {
    overflow: hidden;
}

.scratchpad-wrap .scratchpad-toolbar {
    margin-top: 10px;
    min-height: 30px;
}

.scratchpad-wrap .scratchpad-toolbar .simple-button.pull-left {
    float: left;
    margin-right: 5px;
}

.scratchpad-wrap .scratchpad-toolbar .simple-button.pull-right {
    float: right;
    margin-left: 5px;
}

.scratchpad-wrap .error-buddy-resting {
    color: #4A7040;
    display: inline-block;
    height: 35px;
    position: relative;
    white-space: nowrap;
}
.scratchpad-wrap .error-buddy-resting .error-buddy-happy,
.scratchpad-wrap .error-buddy-resting .error-buddy-thinking {
    position: absolute;
    text-decoration: none;
}
.scratchpad-wrap .error-buddy-resting img {
    height: 35px;
    vertical-align: middle;
}

.scratchpad-editor-bigplay-button,
.scratchpad-editor-bigplay-loading,
.scratchpad-canvas-loading,
#sm2-container.swf_timedout {
    left: 40%;
    position: absolute;
    top: 30%;
    z-index: 1000;
}

.scratchpad-editor-bigplay-button {
    background: #ddd;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-size: 66px;
    line-height: 1em;
    opacity: .7;
    padding: 18px 23px 18px 31px;
}

.scratchpad-editor-bigplay-button:hover {
    opacity: 1.0;
}

.scratchpad-ace-editor {
    background: #FFF;
    position: relative;
    min-width: 400px;
    z-index: 2;
}

.scratchpad-ace-editor .ace_tooltip {
    max-width: 550px; /* Ensures tooltip isn't cut off */
    white-space: normal; /* Allows multi-lines to wrap */
}

.scratchpad-ace-editor .ace_problem_line {
    border-bottom: 1px dotted orange;
    position: absolute;
}

.scratchpad-ace-editor .ace_scroller {
    overflow-x: hidden;
}

.scratchpad-ace-editor .ace_line {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.scratchpad-editor .textarea-editor {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.scratchpad-playbar {
    height: 30px;
    position: relative;
}

.scratchpad-playbar .scratchpad-playbar-play {
    position: absolute;
    left: 0;
}

.scratchpad-playbar .scratchpad-playbar-play .ui-button-text {
    // override default of .4em so play button will fit in an iframe
    padding: 5px;
}

.scratchpad-playbar .scratchpad-playbar-timeleft {
    font-family: monospace;
    font-size: 11px;
    position: absolute;
    right: 45px;
    top: 4px;
}

.scratchpad-playbar .scratchpad-playbar-progress {
    margin: 0 80px 0 45px;
    position: relative;
    top: 8px;
}

.scratchpad-playbar .scratchpad-playbar-progress .ui-slider-handle {
    width: 9px;
}

.scratchpad-playbar .scratchpad-playbar-progress .ui-slider-range-min {
    background: #678D00;
}

.scratchpad-playbar .scratchpad-playbar-options {
    position: absolute;
    right: 0px;
    top: 0px;
}

.scratchpad-playbar .scratchpad-playbar-options .dropdown-toggle {
    height: 25px;
    padding: 5px;
}

.scratchpad-playbar .loading-msg {
    background: url(../images/spinner.gif) no-repeat 7px center;
    line-height: 30px;
    padding-left: 30px;
}

#output {
    height: 402px;
    position: relative;
}

#output-frame,
.scratchpad-ace-editor {
    height: 400px;
    border: 1px solid #D4CCB0;
}

.scratchpad-draw-canvas,
#output-frame {
    width: 400px;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
}

#output-frame {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

#draw-widgets {
    margin-bottom: 10px;
}

.scratchpad-wrap .overlay {
    height: 100%;
    left: 0px;
    margin: 0;
    /* Ensure the output can be scrolled behind, like for SQL */
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: @zindexModal + 1;
}

.scratchpad-wrap .overlay-container {
    position: relative;
}

.scratchpad-wrap .disable-overlay {
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    opacity: 0;
    z-index: 880;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#btn-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(110, 81, 114);
    width: 3px;
    height: 3px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 45px;
    display: inline-block;
    display: none;
}
